<div class="d-flex justify-content-center align-items-center mt-3" style="height: 100%;" (mouseover)="onMouseOver()" (mouseout)="onMouseOut()" (mousedown)="startScroll('left')"
        (mouseup)="startScroll('right')" 
        (click)="stopScroll()"
        (mousedown)="stopScroll()"
        (mouseup)="stopScroll()"
        #scrollElement>
    <div class="container-fluid">
        <div class="text-display" style="margin-bottom: -5px;" [innerHTML]="outerShown | safeHtml"></div>
        <div class="text-display" [innerHTML]="innerShown | safeHtml"></div>
        <div class="text-display whitespace" [innerHTML]="orfsShown1 | safeHtml"></div>
        <div class="text-display whitespace" [innerHTML]="orfsShown2 | safeHtml"></div>
        <div class="text-display whitespace" [innerHTML]="orfsShown3 | safeHtml"></div>
        <div class="text-display whitespace" [innerHTML]="rOrfsShown1 | safeHtml"></div>
        <div class="text-display whitespace" [innerHTML]="rOrfsShown2 | safeHtml"></div>
        <div class="text-display whitespace" [innerHTML]="rOrfsShown3 | safeHtml"></div>
        <div class="button-container">
            <mat-slider style="width:100%;" discrete min="0" max="{{ stringLength - 50 }}">
                <input matSliderThumb [(ngModel)]="start" name="start" (input)="onSliderChange()">
            </mat-slider>
        </div>
    </div>
    
</div>