div {
    color: white;
    font-family: monospace;
    letter-spacing: 1px;
    padding-right:1rem;
    font-size: 88%
}
.text-container {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}