<div class="row">
    <div class="col-md-3">
        <div class="d-flex flex-column h-100">
                <app-buttons (position)="changePosition($event)"></app-buttons>
        </div>
    </div>
    <div class="col-md-6">
        <app-linear-scroll></app-linear-scroll>
    </div>
    <div class="col-md-3">
        <div class="d-flex flex-column h-100">
            <app-drag-drop class="h-100 me-2"></app-drag-drop>
        </div>
    </div>
</div>
<div class="row">
    <app-plasmid-scroll></app-plasmid-scroll>
</div>


<div class="screen-overlay" *ngIf="blurred" (click)="onClick()" (keyup)="onClick()">
    <div class="overlay-text" style="word-wrap: break-word;">
        You can scroll the string with your mouse wheel or by hovering over the scroll buttons<br>
        You can drag and drop the restriction enzymes to select them<br>
        Press any button to continue
    </div>
</div>