svg {
    width: 100%;
    height: auto;
    position: fixed;
    bottom: 0;
}

text {
    font-size: 0.25vw;
    font-family: monospace;
    fill: white;
}

.label {
    font-size: 0.18vw !important;
}

@media (max-width: 600px) {

    /* Example breakpoint for mobile devices */
    text {
        font-size: 1vw;
        /* Larger font size for smaller screens */
    }

}

.button-container {
    display: flex;
    flex-direction: column;
    /* Stack children vertically */
    align-items: center;
    position: absolute;
    bottom: 1rem;
    width: 100%;
    z-index: 10;
    gap: 10px;
    /* Space between span and button-group */
}

.button-group {
    display: flex;
    gap: 10px;
    /* Space between buttons */
    justify-content: center;
    /* Center-align buttons */
}

.highlight {
    background-color: yellow; // Example style for highlighting
    color: black;
}


.whitespace {
    white-space: pre;
}