
<div class="plasmid-scroll-container">

    <svg viewBox="0 60 200 50" xmlns="http://www.w3.org/2000/svg" 
    (mouseover)="onMouseOver()" 
    (mouseout)="onMouseOut()"
    (click)="stopScroll()"
    #scrollElement>
       <g *ngFor="let label of labels; trackBy: trackByFn">
            <line [attr.x1]="label.linestartX" 
                [attr.y1]="label.linestartY" 
                [attr.x2]="label.x" 
                [attr.y2]="label.y"
                [style.stroke]="label.id" 
                style="stroke-width: 0.1px;">
            </line>

            <text [attr.x]="label.x" 
                [attr.y]="label.y" 
                class="label" 
                [style.fill]="label.id">
                {{ label.text }}
            </text>
        </g>
        <defs>
            <path id="halfOval" d="M -15,100 Q 100,50 205,95" fill="none" />
        </defs>
        <text>
            <textPath #textpath [innerHTML]="outerShown | safeHtml" xlink:href="#halfOval" startOffset="0%" letter-spacing="0.5px"></textPath>
        </text>
        <text dy="4">
            <textPath #textpath [innerHTML]="innerShown | safeHtml" xlink:href="#halfOval" startOffset="0%" letter-spacing="0.5px"></textPath>
        </text>
        <text dy="7">
            <textPath #textpath [innerHTML]="orfsShown1 | safeHtml" xlink:href="#halfOval" startOffset="0%"
                letter-spacing="0.5px" class="whitespace" fill="orange"></textPath>
        </text>
        <text dy="9">
            <textPath #textpath [innerHTML]="orfsShown2 | safeHtml" xlink:href="#halfOval" startOffset="0%"
                letter-spacing="0.5px" class="whitespace" fill="orange"></textPath>
        </text>
        <text dy="12">
            <textPath #textpath [innerHTML]="orfsShown3 | safeHtml" xlink:href="#halfOval" startOffset="0%"
                letter-spacing="0.5px" class="whitespace" fill="orange"></textPath>
        </text>
        <text dy="15">
            <textPath #textpath [innerHTML]="rOrfsShown1 | safeHtml" xlink:href="#halfOval" startOffset="0%"
                letter-spacing="0.5px" class="whitespace" fill="orange"></textPath>
        </text>
        <text dy="18">
            <textPath #textpath [innerHTML]="rOrfsShown2 | safeHtml" xlink:href="#halfOval" startOffset="0%"
                letter-spacing="0.5px" class="whitespace" fill="orange"></textPath>
        </text>
        <text dy="21">
            <textPath #textpath [innerHTML]="rOrfsShown3 | safeHtml" xlink:href="#halfOval" startOffset="0%"
                letter-spacing="0.5px" class="whitespace" fill="orange"></textPath>
        </text>
    </svg>
    <div class="button-container">
        <span class="text-center text-secondary">Vector Sequence Controls</span>
        <div class="button-group">
            <button (mouseenter)="startScroll('left')" (mouseleave)="stopScroll()" class="btn btn-primary">Scroll
                Left</button>
            <button (mouseenter)="startScroll('right')" (mouseleave)="stopScroll()" class="btn btn-primary">Scroll
                Right</button>
            <button class="btn btn-secondary pt-0 pb-0" (click)="changeSpeed()">
                {{ currentSpeedDisplay }}
                <br>
                <span class="text-dark" style="font-size: 0.6em; display: block; text-align: center;">SPEED</span>
            </button>
        </div>
    </div>
</div>