svg {
    width: 100%;
    height: auto;
    position: fixed;
    bottom: 0;
}

text {
    font-size: 0.25vw;
    font-family: monospace;
    fill: white;
}

.label {
    font-size: 0.18vw !important;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    pointer-events: none;
    white-space: nowrap;
}

@media (max-width: 600px) {

    /* Example breakpoint for mobile devices */
    text {
        font-size: 1vw;
        /* Larger font size for smaller screens */
    }

}

.button-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    position: absolute;
    bottom: 1rem;
    width: 100%;
    z-index: 10;
    /* Adjust this value as needed */
}

.highlight {
    background-color: yellow; // Example style for highlighting
    color: black;
}
