<div class="plasmid-scroll-container">

    <svg viewBox="0 50 200 50" xmlns="http://www.w3.org/2000/svg" 
    (mouseover)="onMouseOver()" 
    (mouseout)="onMouseOut()"
    (mousedown)="startScroll('left')"
    (mouseup)="startScroll('right')"
    (click)="stopScroll()"
    (mousedown)="stopScroll()"
    (mouseup)="stopScroll()"
    #scrollElement
        >
        <defs>
            <path id="halfOval" d="M 0,90 Q 100,50 200,90" fill="none" />
        </defs>
        <text>
            <textPath xlink:href="#halfOval" startOffset="0%" letter-spacing="0.5px">
                {{outerShown}}
            </textPath>
        </text>
        <text dy="4">
            <textPath xlink:href="#halfOval" startOffset="0%" letter-spacing="0.5px">
                {{innerShown}}
            </textPath>
        </text>
    </svg>
    <div class="button-container">
        <button  (mouseenter)="startScroll('left')" (mouseleave)="stopScroll()" class="btn btn-primary">Scroll Left</button>
        <button (mouseenter)="startScroll('right')" (mouseleave)="stopScroll()" class="btn btn-primary">Scroll Right</button>
    </div>
</div>