<div class="row ms-2 buttons">
    <div class="col-md-12">
        <h5 class="text-white pt-2">Restriction cloning sites available</h5>
        <div class="d-flex flex-column scrollable" cdkScrollable cdkDropList id="RS-drag"
            [cdkDropListConnectedTo]="['ORF-drop', 'RS-drop']" (cdkDropListDropped)="drop($event)">
            <div *ngFor="let RS of RSbuttons; let i = index" class="d-grid gap-2">
                <div cdkDrag class="btn btn-light mt-3 p-2 me-2" (click)="onClickRS(RS)">{{ RS }}</div>
            </div>
        </div>
    </div>
</div>