.btn {
    position: relative;
}

.scrollable {
    max-height: 380px;
    /* make the scrollable div fill the height of app-buttons */
    overflow-y: auto;
    /* for scrolling */
}
@media (max-width: 600px) {

    .scrollable {
        max-height: 150px;
    }

}