<div class="row ms-2 buttons">
    <div class="col-md-6">
        <div class="d-flex flex-column" cdkDropList id="ORF-drag" cdkDropListConnectedTo="ORF-drop" (cdkDropListDropped)="drop($event)">
            <div *ngFor="let ORF of ORFbuttons; let i = index" class="d-grid gap-2">
                <div cdkDrag class="btn btn-light mt-3 p-2" (click)="this.buttonService.moveORFToDropped(i)">{{ ORF }}</div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="d-flex flex-column" cdkDropList id="RS-drag" cdkDropListConnectedTo="RS-drop" (cdkDropListDropped)="drop($event)">
            <div *ngFor="let RS of RSbuttons; let i = index" class="d-grid gap-2">
                <div cdkDrag class="btn btn-light mt-3 p-2" (click)="this.buttonService.moveRSToDropped(i)">{{ RS }}</div>
            </div>
        </div>
    </div>
</div>