.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

.overlay-text {
    position: absolute;
    z-index: 10;
    color: white;
    font-size: 20px;
    text-align: center;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

svg {
    /* Adjust the size as needed */
    max-width: 80%;
    height: auto;
    animation: rotate 100s linear infinite;
    touch-action: none;
}

text {
    fill: white;
    font-size: 30%;
    font-family: monospace
}

p {
    z-index: 10;
}