@import '../../../styles.scss';


.container { 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.formHolder {
   border-radius: 15px;
   width: 90%;
   padding: 5%;
}


button[disabled] {
    .mat-mdc-button-persistent-ripple {
            background-color: white;
        }
}

button {
    width: 100%;
    height: 3rem;
    /* Adjust the height as needed */
    font-size: 1.2rem;
    /* Adjust the font size as needed */
}
textarea {
    resize: none; // Optional: To prevent users from resizing the textarea
}

@media (max-width: 768px) {
    mat-hint, h2 {
        font-size: smaller;
    }
}

@keyframes shake {
    0% {
        margin-left: 0rem;
    }

    25% {
        margin-left: 0.2rem;
    }

    75% {
        margin-left: -0.2rem;
    }

    100% {
        margin-left: 0rem;
    }
}

.error-shake {
    animation: shake 0.2s ease-in-out 0s 2;
}