
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$DNA-primary: mat.define-palette(mat.$indigo-palette);
$DNA-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$DNA-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$DNA-theme: mat.define-light-theme((
  color: (
    primary: $DNA-primary,
    accent: $DNA-accent,
    warn: $DNA-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($DNA-theme);

/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

$white: #ffffff;
$light: #fffcf7;
$dark: #04262e;
$primary: #064645;
$secondary: #800020;
$info: #ec8d13;
$success: #559a93;
$warning: #eec807;
$danger: #f60233;

body { 
        font-family: "Roboto-Regular";
        position: relative;
}
html, body {
    overflow-x: hidden;
    @media (min-width: 768px) {
        overflow: hidden;
    }}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.background-default {
  background: #BBD2C5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #292E49, #064645, #d9e9e0);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #292E49, #064645, #d9e9e0);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* Hide scrollbars */
    height: 100%;
    overflow-wrap: break-word;
}

.background-scroll {
  background: #292E49;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #292E49, #064645);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #292E49, #064645);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* Hide scrollbars */
    height: 100vh;
}

.AclI {
  fill: rgb(123, 100, 142) !important;
}


.HindIII-HF® HindIII {
  fill: rgb(101, 141, 165) !important;
}


.SspI-HF® {
  fill: rgb(73, 105, 154) !important;
}


.MluCI {
  fill: rgb(60, 207, 77) !important;
}


.PciI {
  fill: rgb(239, 46, 68) !important;
}


.AgeI-HF® {
  fill: rgb(13, 130, 80) !important;
}


.BspMI BfuAI {
  fill: rgb(49, 184, 108) !important;
}


.SexAI {
  fill: rgb(132, 191, 40) !important;
}


.MluI-HF® {
  fill: rgb(16, 144, 172) !important;
}


.BceAI {
  fill: rgb(39, 10, 128) !important;
}


.HpyCH4IV {
  fill: rgb(244, 135, 60) !important;
}


.HpyCH4III {
  fill: rgb(39, 1, 211) !important;
}


.BaeI {
  fill: rgb(198, 161, 71) !important;
}


.BsaXI {
  fill: rgb(200, 180, 14) !important;
}


.AflIII {
  fill: rgb(126, 193, 62) !important;
}


.SpeI-HF® {
  fill: rgb(152, 79, 150) !important;
}


.BsrI {
  fill: rgb(251, 103, 215) !important;
}


.BmrI {
  fill: rgb(46, 29, 108) !important;
}


.BglII {
  fill: rgb(155, 164, 44) !important;
}


.AfeI {
  fill: rgb(222, 164, 91) !important;
}


.AluI {
  fill: rgb(126, 162, 198) !important;
}


.StuI {
  fill: rgb(173, 3, 202) !important;
}


.ScaI-HF® {
  fill: rgb(3, 160, 211) !important;
}


.BspDI ClaI {
  fill: rgb(80, 218, 186) !important;
}


.PI-SceI {
  fill: rgb(199, 168, 67) !important;
}


.NsiI-HF® NsiI {
  fill: rgb(164, 180, 163) !important;
}


.AseI {
  fill: rgb(50, 199, 116) !important;
}


.SwaI {
  fill: rgb(195, 2, 220) !important;
}


.CspCI {
  fill: rgb(255, 112, 39) !important;
}


.MfeI-HF® {
  fill: rgb(102, 134, 216) !important;
}


.PaqCI {
  fill: rgb(165, 31, 97) !important;
}


.BssSI-v2 {
  fill: rgb(255, 26, 181) !important;
}


.Nb.BssSI {
  fill: rgb(124, 172, 111) !important;
}


.BmgBI {
  fill: rgb(142, 175, 113) !important;
}


.PmlI {
  fill: rgb(250, 132, 204) !important;
}


.DraIII-HF® {
  fill: rgb(227, 95, 213) !important;
}


.AleI-v2 {
  fill: rgb(248, 12, 216) !important;
}


.EcoP15I {
  fill: rgb(254, 234, 250) !important;
}


.PvuII-HF® PvuII {
  fill: rgb(144, 167, 204) !important;
}


.AlwNI {
  fill: rgb(21, 211, 164) !important;
}


.BtsIMutI {
  fill: rgb(3, 83, 103) !important;
}


.NdeI {
  fill: rgb(89, 126, 231) !important;
}


.NlaIII {
  fill: rgb(80, 215, 91) !important;
}


.FatI {
  fill: rgb(198, 196, 47) !important;
}


.MslI {
  fill: rgb(188, 37, 125) !important;
}


.XcmI {
  fill: rgb(56, 47, 249) !important;
}


.BstXI {
  fill: rgb(56, 46, 123) !important;
}


.PflMI {
  fill: rgb(11, 1, 47) !important;
}


.BccI {
  fill: rgb(17, 126, 188) !important;
}


.NcoI-HF® NcoI {
  fill: rgb(152, 132, 100) !important;
}


.BseYI {
  fill: rgb(104, 132, 213) !important;
}


.FauI {
  fill: rgb(169, 245, 168) !important;
}


.SmaI {
  fill: rgb(163, 99, 188) !important;
}


.TspMI XmaI {
  fill: rgb(241, 235, 159) !important;
}


.Nt.CviPII {
  fill: rgb(50, 101, 35) !important;
}


.AciI {
  fill: rgb(237, 255, 172) !important;
}


.SacII {
  fill: rgb(47, 70, 212) !important;
}


.BsrBI {
  fill: rgb(191, 207, 28) !important;
}


.HpaII MspI {
  fill: rgb(8, 3, 209) !important;
}


.StyD4I {
  fill: rgb(181, 47, 8) !important;
}


.ScrFI {
  fill: rgb(241, 98, 240) !important;
}


.BsaJI {
  fill: rgb(118, 95, 195) !important;
}


.BslI {
  fill: rgb(240, 126, 72) !important;
}


.BtgI {
  fill: rgb(124, 189, 185) !important;
}


.NciI {
  fill: rgb(158, 224, 114) !important;
}


.AvrII {
  fill: rgb(206, 237, 45) !important;
}


.MnlI {
  fill: rgb(88, 88, 225) !important;
}


.BbvCI {
  fill: rgb(148, 46, 168) !important;
}


.Nt.BbvCI {
  fill: rgb(76, 162, 31) !important;
}


.Nb.BbvCI {
  fill: rgb(221, 5, 204) !important;
}


.SbfI-HF® {
  fill: rgb(15, 125, 168) !important;
}


.Bpu10I {
  fill: rgb(38, 102, 133) !important;
}


.Bsu36I {
  fill: rgb(72, 151, 43) !important;
}


.EcoNI {
  fill: rgb(215, 223, 212) !important;
}


.HpyAV {
  fill: rgb(92, 114, 165) !important;
}


.BstNI {
  fill: rgb(13, 109, 94) !important;
}


.PspGI {
  fill: rgb(216, 251, 48) !important;
}


.StyI-HF® {
  fill: rgb(176, 179, 50) !important;
}


.BcgI {
  fill: rgb(231, 132, 66) !important;
}


.PvuI-HF® {
  fill: rgb(88, 125, 229) !important;
}


.BstUI {
  fill: rgb(227, 131, 77) !important;
}


.EagI-HF® {
  fill: rgb(84, 89, 136) !important;
}


.RsrII {
  fill: rgb(57, 115, 52) !important;
}


.BsiEI {
  fill: rgb(194, 222, 32) !important;
}


.BsiWI-HF® BsiWI {
  fill: rgb(48, 188, 17) !important;
}


.Esp3I {
  fill: rgb(16, 175, 95) !important;
}


.BsmBI-v2 {
  fill: rgb(167, 42, 115) !important;
}


.Hpy99I {
  fill: rgb(82, 132, 116) !important;
}


.MspA1I {
  fill: rgb(89, 47, 193) !important;
}


.MspJI {
  fill: rgb(110, 64, 148) !important;
}


.SgrAI {
  fill: rgb(148, 10, 173) !important;
}


.BfaI {
  fill: rgb(180, 102, 224) !important;
}


.BspCNI {
  fill: rgb(111, 125, 225) !important;
}


.XhoI PaeR7I {
  fill: rgb(220, 34, 242) !important;
}


.EarI {
  fill: rgb(39, 27, 27) !important;
}


.AcuI {
  fill: rgb(38, 36, 88) !important;
}


.PstI-HF® PstI {
  fill: rgb(238, 148, 124) !important;
}


.BpmI {
  fill: rgb(63, 69, 207) !important;
}


.DdeI {
  fill: rgb(107, 58, 72) !important;
}


.SfcI {
  fill: rgb(153, 238, 73) !important;
}


.AflII {
  fill: rgb(120, 50, 195) !important;
}


.BpuEI {
  fill: rgb(210, 45, 88) !important;
}


.SmlI {
  fill: rgb(10, 6, 44) !important;
}


.AvaI BsoBI {
  fill: rgb(202, 132, 48) !important;
}


.MboII {
  fill: rgb(209, 98, 253) !important;
}


.BbsI-HF® BbsI {
  fill: rgb(91, 161, 134) !important;
}


.XmnI {
  fill: rgb(61, 209, 26) !important;
}


.BsmI {
  fill: rgb(16, 229, 46) !important;
}


.Nb.BsmI {
  fill: rgb(34, 109, 138) !important;
}


.EcoRI EcoRI-HF® {
  fill: rgb(39, 132, 145) !important;
}


.HgaI {
  fill: rgb(19, 81, 113) !important;
}


.AatII {
  fill: rgb(110, 228, 153) !important;
}


.ZraI {
  fill: rgb(57, 227, 230) !important;
}


.Tth111I PflFI {
  fill: rgb(72, 183, 233) !important;
}


.PshAI {
  fill: rgb(253, 33, 192) !important;
}


.AhdI {
  fill: rgb(12, 33, 23) !important;
}


.DrdI {
  fill: rgb(113, 77, 61) !important;
}


.SacI-HF® {
  fill: rgb(221, 234, 130) !important;
}


.Eco53kI {
  fill: rgb(106, 158, 247) !important;
}


.BseRI {
  fill: rgb(104, 252, 78) !important;
}


.MlyI {
  fill: rgb(159, 202, 226) !important;
}


.PleI {
  fill: rgb(148, 210, 207) !important;
}


.WarmStart® Nt.BstNBI Nt.BstNBI {
  fill: rgb(122, 127, 67) !important;
}


.HinfI {
  fill: rgb(127, 80, 156) !important;
}


.EcoRV-HF® EcoRV {
  fill: rgb(184, 53, 219) !important;
}


.DpnI {
  fill: rgb(170, 15, 181) !important;
}


.DpnII Sau3AI MboI {
  fill: rgb(58, 42, 95) !important;
}


.BsaBI {
  fill: rgb(82, 99, 142) !important;
}


.TfiI {
  fill: rgb(24, 77, 99) !important;
}


.BsrDI {
  fill: rgb(200, 109, 132) !important;
}


.Nb.BsrDI {
  fill: rgb(133, 43, 179) !important;
}


.BbvI {
  fill: rgb(21, 95, 229) !important;
}


.BtsI-v2 {
  fill: rgb(214, 144, 10) !important;
}


.Nb.BtsI {
  fill: rgb(208, 109, 181) !important;
}


.BstAPI {
  fill: rgb(10, 26, 135) !important;
}


.SfaNI {
  fill: rgb(106, 158, 105) !important;
}


.SphI-HF® SphI {
  fill: rgb(108, 20, 213) !important;
}


.SrfI {
  fill: rgb(113, 65, 31) !important;
}


.NmeAIII {
  fill: rgb(203, 96, 229) !important;
}


.NaeI {
  fill: rgb(89, 29, 181) !important;
}


.NgoMIV {
  fill: rgb(29, 31, 71) !important;
}


.BglI {
  fill: rgb(22, 112, 169) !important;
}


.AsiSI {
  fill: rgb(237, 255, 164) !important;
}


.BtgZI {
  fill: rgb(30, 103, 3) !important;
}


.HhaI {
  fill: rgb(127, 24, 251) !important;
}


.HinP1I {
  fill: rgb(149, 124, 3) !important;
}


.BssHII {
  fill: rgb(169, 7, 105) !important;
}


.NotI-HF® NotI {
  fill: rgb(36, 241, 104) !important;
}


.Fnu4HI {
  fill: rgb(128, 236, 33) !important;
}


.Cac8I {
  fill: rgb(28, 239, 237) !important;
}


.MwoI {
  fill: rgb(87, 18, 23) !important;
}


.BmtI-HF® {
  fill: rgb(36, 62, 217) !important;
}


.NheI-HF® {
  fill: rgb(95, 36, 156) !important;
}


.SapI BspQI {
  fill: rgb(20, 244, 56) !important;
}


.Nt.BspQI {
  fill: rgb(86, 160, 97) !important;
}


.BlpI {
  fill: rgb(184, 232, 104) !important;
}


.ApeKI TseI {
  fill: rgb(155, 206, 34) !important;
}


.Bsp1286I {
  fill: rgb(248, 10, 161) !important;
}


.AlwI {
  fill: rgb(45, 110, 225) !important;
}


.BamHI-HF® BamHI {
  fill: rgb(120, 149, 78) !important;
}


.Nt.AlwI {
  fill: rgb(38, 15, 176) !important;
}


.BtsCI {
  fill: rgb(90, 194, 126) !important;
}


.FokI {
  fill: rgb(71, 230, 197) !important;
}


.HaeIII {
  fill: rgb(9, 34, 192) !important;
}


.FseI {
  fill: rgb(181, 137, 67) !important;
}


.SfiI {
  fill: rgb(105, 32, 60) !important;
}


.SfoI {
  fill: rgb(240, 114, 184) !important;
}


.PluTI {
  fill: rgb(2, 110, 154) !important;
}


.KasI {
  fill: rgb(153, 8, 243) !important;
}


.NarI {
  fill: rgb(193, 176, 133) !important;
}


.AscI {
  fill: rgb(112, 58, 234) !important;
}


.EciI {
  fill: rgb(138, 52, 238) !important;
}


.BsmFI {
  fill: rgb(22, 32, 165) !important;
}


.ApaI {
  fill: rgb(205, 30, 117) !important;
}


.PspOMI {
  fill: rgb(35, 78, 177) !important;
}


.Sau96I {
  fill: rgb(137, 254, 218) !important;
}


.NlaIV {
  fill: rgb(46, 148, 111) !important;
}


.Acc65I {
  fill: rgb(134, 158, 66) !important;
}


.KpnI-HF® {
  fill: rgb(174, 189, 6) !important;
}


.BsaI-HF®v2 {
  fill: rgb(7, 22, 145) !important;
}


.HphI {
  fill: rgb(128, 145, 48) !important;
}


.BstEII-HF® {
  fill: rgb(55, 248, 186) !important;
}


.AvaII {
  fill: rgb(51, 175, 88) !important;
}


.BanI {
  fill: rgb(167, 36, 244) !important;
}


.BaeGI {
  fill: rgb(105, 199, 170) !important;
}


.BsaHI {
  fill: rgb(91, 154, 218) !important;
}


.BanII {
  fill: rgb(126, 94, 85) !important;
}


.RsaI {
  fill: rgb(123, 218, 223) !important;
}


.CviQI {
  fill: rgb(165, 140, 83) !important;
}


.BstZ17I-HF® {
  fill: rgb(170, 131, 0) !important;
}


.BciVI {
  fill: rgb(87, 132, 14) !important;
}


.SalI-HF® SalI {
  fill: rgb(110, 132, 39) !important;
}


.BcoDI BsmAI {
  fill: rgb(110, 120, 175) !important;
}


.Nt.BsmAI {
  fill: rgb(70, 185, 38) !important;
}


.ApaLI {
  fill: rgb(185, 85, 88) !important;
}


.BsgI {
  fill: rgb(59, 151, 45) !important;
}


.AccI {
  fill: rgb(39, 228, 8) !important;
}


.Hpy166II {
  fill: rgb(207, 109, 141) !important;
}


.Tsp45I {
  fill: rgb(173, 108, 70) !important;
}


.HpaI {
  fill: rgb(47, 255, 100) !important;
}


.PmeI {
  fill: rgb(156, 0, 37) !important;
}


.HincII {
  fill: rgb(172, 181, 46) !important;
}


.BsiHKAI {
  fill: rgb(211, 91, 231) !important;
}


.TspRI {
  fill: rgb(128, 64, 135) !important;
}


.ApoI-HF {
  fill: rgb(60, 17, 182) !important;
}


.NspI {
  fill: rgb(113, 250, 81) !important;
}


.BsrFI-v2 {
  fill: rgb(255, 238, 158) !important;
}


.BstYI {
  fill: rgb(62, 50, 29) !important;
}


.HaeII {
  fill: rgb(165, 49, 78) !important;
}


.CviKI-1 {
  fill: rgb(93, 193, 204) !important;
}


.EcoO109I {
  fill: rgb(177, 112, 145) !important;
}


.PpuMI {
  fill: rgb(113, 22, 91) !important;
}


.I-CeuI {
  fill: rgb(109, 73, 139) !important;
}


.SnaBI {
  fill: rgb(44, 153, 166) !important;
}


.I-SceI {
  fill: rgb(230, 11, 135) !important;
}


.BspHI {
  fill: rgb(194, 192, 186) !important;
}


.BspEI {
  fill: rgb(72, 160, 32) !important;
}


.MmeI {
  fill: rgb(48, 120, 121) !important;
}


.TaqI-v2 {
  fill: rgb(138, 164, 230) !important;
}


.NruI-HF® {
  fill: rgb(125, 225, 90) !important;
}


.Hpy188I {
  fill: rgb(94, 121, 167) !important;
}


.Hpy188III {
  fill: rgb(62, 35, 96) !important;
}


.XbaI {
  fill: rgb(112, 218, 89) !important;
}


.BclI-HF BclI {
  fill: rgb(98, 39, 160) !important;
}


.HpyCH4V {
  fill: rgb(105, 76, 33) !important;
}


.FspI {
  fill: rgb(205, 17, 206) !important;
}


.PI-PspI {
  fill: rgb(54, 227, 206) !important;
}


.MscI {
  fill: rgb(160, 47, 205) !important;
}


.BsrGI-HF® {
  fill: rgb(237, 121, 208) !important;
}


.MseI {
  fill: rgb(245, 241, 140) !important;
}


.PacI {
  fill: rgb(136, 153, 134) !important;
}


.PsiI-v2 {
  fill: rgb(104, 179, 108) !important;
}


.BstBI {
  fill: rgb(181, 166, 142) !important;
}


.DraI {
  fill: rgb(120, 232, 93) !important;
}


.PspXI {
  fill: rgb(245, 205, 48) !important;
}


.BsaWI {
  fill: rgb(166, 148, 162) !important;
}


.BsaAI {
  fill: rgb(235, 82, 27) !important;
}


.EaeI {
  fill: rgb(225, 244, 166) !important;
}